/*GENEREL
-------------------------*/
@font-face {
  font-family: "fjalla_oneregular";
  src: url("fjallaone-regular-webfont.woff") format("woff");
}

body {
  /*FONTE*/
  --h: "fjalla_oneregular", sans-serif;
  --p: "rig-sans", sans-serif;

  /*COLORS*/
  --gray: #d9d9d9;
  --blue: #1d3240;
  --turkies: #376f85;
  --green: #486b73;
}

/*GLOBAL
---------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--p);
  font-weight: 300;
  color: var(--blue);
  max-width: 50ch;
  line-height: 25px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

h1,
h2 {
  font-family: var(--h);
  color: var(--blue);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

h2 {
  margin: 5.2% 0 0.6rem 0;
}

h3 {
  margin: 1rem 0 0.5rem 0;
  max-width: fit-content;
  font-size: 1rem;
  color: var(--blue);
  font-family: var(--p);
  font-weight: 500;
}

body {
  background-image: url(imgs/baggrundfl.png);
  background-size: cover;
}

img {
  height: 100%;
  width: auto;
  display: block;
}

/*NAV & HEADER
----------------------*/

header {
  justify-content: space-between;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5%;
  height: 6rem;
}

nav ul {
  border-top: 4px solid var(--turkies);
  max-width: fit-content;
  padding-top: 1rem;
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav li a {
  text-decoration: none;
  font-family: var(--h);
  color: var(--blue);
  font-size: 1.5rem;
  margin-right: 1rem;

  padding: 7px 4px 2px 2px;
}

nav li a:hover {
  border: 2px solid var(--turkies);
}

.active {
  border: 2px solid var(--turkies);
}

#burger {
  display: none;
}

/*CLASSES
-------------------------*/

.logo {
  margin-left: 16%;
  z-index: 11;
  width: 5%;
}

.knapstyle {
  text-decoration: none;
  font-family: var(--h);
  color: white;
  background-color: var(--green);
  border-radius: 5px;
}
/*LINE & CIRCEL
---------------------------*/

.line1 {
  position: absolute;
  width: 4px;
  height: 254%;
  background-color: var(--turkies);
  left: 12%;
  top: -33%;
}

.line2 {
  position: absolute;
  width: 40%;
  height: 4px;
  top: 111.5%;
  background-color: var(--turkies);
}

.line4 {
  position: absolute;
  width: 4px;
  height: 120%;
  left: 22%;
  bottom: 100%;
  background-color: var(--turkies);
}

.line3 {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 22%;
  background-color: var(--turkies);
}

.line5 {
  width: 20%;
  height: 8rem;
  border-bottom: 4px solid var(--turkies);
}

.cirkel1 {
  aspect-ratio: 1/1;
  width: 40%;
  position: absolute;
  top: 7%;
  left: -14%;
  z-index: -10;
  opacity: 60%;
}

.cirkel2 {
  position: absolute;
  opacity: 60%;
  left: 33%;
}

.cirkel2overflow {
  aspect-ratio: 1/1;
  overflow: hidden;
  width: 40%;
  position: absolute;
  top: 95%;
  left: 60%;
  z-index: -10;
}

/*PLACERING
----------------------*/

.placering1 {
  margin: 3% 0 0 16%;
}

.placering2 {
  margin: 8% 0 0 50%;
  border-top: 4px solid var(--turkies);
  padding-right: 16%;
}

.placering2index {
  margin: -6% 0 0 50%;
  border-top: 4px solid var(--turkies);
  padding-right: 16%;
}

.placering3 {
  border-top: 4px solid var(--turkies);
  margin: 8% 50% 6% 0;
  padding: 0 0 0 16%;
}

/*SLIDES
---------------------------*/

.slider-wrapper {
  position: relative;
}

.slides-container {
  aspect-ratio: 16/9;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  overflow: hidden;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

#prev,
#prev2,
#prev3,
#prev4,
#prev5,
#prev7,
#prev8 {
  position: absolute;
  left: 32%;
  top: 92%;
  aspect-ratio: 50/63;
  height: 15%;
}

#prev6,
#prev9 {
  position: absolute;
  left: 38%;
  top: 92%;
  aspect-ratio: 50/63;
  height: 15%;
  width: 11%;
  box-shadow: none;
}

#prev:hover,
#prev2:hover,
#prev3:hover,
#prev4:hover,
#prev5:hover,
#prev6:hover,
#prev7:hover,
#prev8:hover,
#prev9:hover {
  transform: scale(1.4);
}

#next,
#next2,
#next3,
#next4,
#next5,
#next7,
#next8 {
  position: absolute;
  left: 58%;
  top: 92%;
  aspect-ratio: 50/63;
  height: 15%;
  transform: rotate(180deg);
}

#next6,
#next9 {
  position: absolute;
  left: 53%;
  top: 92%;
  aspect-ratio: 50/63;
  height: 15%;
  width: 11%;
  transform: rotate(180deg);
  box-shadow: none;
}

#next:hover,
#next2:hover,
#next3:hover,
#next4:hover,
#next5:hover,
#next7:hover,
#next8:hover,
#next6:hover,
#next9:hover {
  transform: rotate(180deg) scale(1.4);
}

.slides1,
.slides2,
.slides3,
.slides4,
.slides5,
.slides6,
.slides7,
.slides8,
.slides9 {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

/*CV
---------------------------*/

dt {
  font-family: var(--p);
  font-weight: 300;
  color: var(--blue);
  font-size: 1rem;
  margin-bottom: 0.1rem;
}

dd {
  font-family: var(--p);
  font-weight: 300;
  color: var(--blue);
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}

ul {
  font-family: var(--p);
  font-weight: 300;
  color: var(--blue);
  font-size: 1rem;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

/*FOOTER
---------------------------*/

footer {
  position: relative;
  display: flex;
  border-top: 4px solid var(--turkies);
  max-width: 40%;
  min-width: 25rem;
  padding-bottom: 1rem;
}

footer h1 {
  margin: 1rem 0 0.5rem 120%;
  width: 100%;
  font-size: 1.8rem;
}
footer h2 {
  margin: 0 0 0.2rem 120%;
  font-size: 1rem;
  width: 100%;
}

/*INDEX
------------------------------*/
.placering1 img {
  aspect-ratio: 2320/3088;
  width: 30%;
}

.cv h3 {
  font-size: 1.3rem;
}

/*GRUNDLÆGGENDE WEB
--------------------------------*/

.webgridp2 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 150%;
}

.webgridp2 img {
  aspect-ratio: 16/9;
  max-width: 90%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.gridweb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 170%;
  gap: 0 10px;
}

.gridweb img {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.knap {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2.8% 0 2% 0;
  margin: 2rem 0 0 20.5%;
  font-size: 1.8cqw;
}

.knap2 {
  display: grid;
  justify-content: center;
  place-self: center;
  width: 50%;
  padding: 2.8% 0 1% 0;
  border-radius: 5px;
  font-size: 2cqw;
}

/*UX
--------------------------------*/

.flexslides {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.knapperflex {
  display: flex;
  gap: 3.5%;
  margin: 12% 0 0 6.5%;
}

.knap3 {
  text-decoration: none;
  font-family: var(--h);
  color: white;
  background-color: var(--green);
  border-radius: 5px;
  font-size: 1.8cqw;
  padding: 3% 4% 1.8% 4%;
}

/*ANIMATION
--------------------------------*/

.flexani {
  display: flex;
  flex-direction: column;
}

.flexani div {
  display: flex;
}

.flexani img {
  aspect-ratio: 16/9;
  width: 34%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.knap4 {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2.8% 0 2% 0;
  margin: 4rem 0 0 25%;
  font-size: 1.8cqw;
}

/*INDHOLD
--------------------------------*/

video {
  aspect-ratio: 16/9;
  width: 100%;
}

.gridweb2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 10px;
}

.gridweb2 img {
  aspect-ratio: 4/5;
  width: 100%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.gridweb2 video {
  grid-row: 4;
  width: 204%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.knap5 {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2.8% 0 1.8% 0;
  margin: 2rem 0 0 22%;
  font-size: 1.8cqw;
}

#slides-container6 {
  width: 100%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.flexknap {
  place-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-row: 4;
  grid-column: 2;
  margin-top: 15%;
}

.gridweb3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 170%;
  gap: 0 10px;
}

.gridweb3 img {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.gridweb3 img:last-child {
  grid-column: 1;
  grid-row: 4;
}

/*PORTFOLIO
--------------------------------*/

.gridweb4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 170%;
  gap: 0 10px;
}

.gridweb4 img {
  aspect-ratio: 16/9;
  width: 100%;
  grid-row: 2;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

.gridweb4 .slider-wrapper {
  grid-row: 3;
}

.flexslides img:last-child {
  aspect-ratio: 16/9;
  width: 100%;
  box-shadow: 3px 15px 30px -7px #1d3240;
}

/*MOBIL
--------------------------------*/

@media (max-width: 800px) {
  /*GLOBAL
--------------------------------*/

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 22px;
  }

  footer h1 {
    font-size: 1rem;
    margin: 1rem 0 0.2rem 100%;
  }

  footer h2 {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 100%;
  }

  .logo {
    height: 100%;
  }

  /*NAVIGATION
  ----------------------------*/
  #burger {
    display: block;
    width: 50px;
    height: 60px;
    position: relative;
    margin: 3% 7% 0 0;
    transition: 0.5s ease-in-out;
    z-index: 11;
  }

  #burger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--blue);
    transition: 0.25s ease-in-out;
  }

  #burger span:nth-child(1) {
    top: 10px;
  }

  #burger span:nth-child(2),
  #burger span:nth-child(3) {
    top: 25px;
  }

  #burger span:nth-child(4) {
    top: 40px;
  }

  #burger.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
  }

  #burger.open span:nth-child(2) {
    transform: rotate(45deg);
    top: 26px;
  }

  #burger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 26px;
  }

  #burger.open span:nth-child(4) {
    top: 15px;
    width: 0%;
    left: 50%;
  }

  nav {
    position: relative;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .navuldispno {
    display: none;
  }

  nav ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--turkies);
    padding: 50% 0 5% 0;
    animation-name: falling_kf;
    animation-duration: 0.8s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
    top: -60%;
  }

  @keyframes falling_kf {
    from {
      transform: translate(0, -100%);
    }

    to {
      transform: translate(0);
    }
  }

  nav li {
    width: 100vw;
    text-align: center;
  }

  /*LINES
--------------------------------*/

  .line2 {
    width: 50%;
  }

  .line1 {
    height: 219%;
  }

  .line4 {
    height: 72%;
  }

  /*PLACERING
--------------------------------*/

  .placering1 {
    margin: 8% 8% 0 16%;
  }

  .placering1 img {
    width: 70%;
    margin-bottom: 13%;
  }

  .placering2 {
    margin-left: 16%;
    padding-right: 11%;
  }

  .placering2index {
    margin-left: 16%;
    padding-right: 11%;
  }

  .placering3 {
    margin-right: 16%;
    margin-bottom: 20%;
  }

  /*WEB
--------------------------------*/

  .knap {
    padding: 3.8% 5% 2.5% 5%;
    margin-left: 14%;
    font-size: 4.8cqw;
  }

  .gridweb {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .gridweb img:nth-child(3) {
    grid-row: 2;
  }

  .gridweb img:nth-child(7) {
    grid-row: 6;
  }
  .gridweb img:nth-child(9) {
    grid-row: 7;
  }

  .knap2 {
    margin: 5% 2% 0 0;
  }

  /*UX
--------------------------------*/

  .knapperflex {
    margin: 15% 0 0 -8%;
  }

  .knap3 {
    font-size: 4.8cqw;
    padding: 3% 4% 2% 4%;
  }

  /*ANIMATION
--------------------------------*/

  .knap4 {
    margin-top: 2.5rem;
    padding: 3.8% 0 2% 0;
    font-size: 4.8cqw;
  }

  /*INDHOLD
--------------------------------*/

  .webgridp2 {
    grid-template-columns: 1fr;
  }

  .gridweb3 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .gridweb3 section.slider-wrapper {
    order: -1;
  }

  .gridweb3 h3:first-child {
    order: -1;
  }

  .knap5 {
    padding: 3.8% 0 2% 0;
    font-size: 4.8cqw;
    margin-left: 23%;
  }

  .flexknap {
    order: 2;
    margin-top: 12%;
    gap: 1rem;
  }

  .knap2 {
    font-size: 4.8cqw;
    padding: 4% 2% 2% 2%;
  }

  /*PORTFOLIO
--------------------------------*/

  .gridweb4 {
    display: flex;
    flex-direction: column;
    width: 106%;
    gap: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  nav li a {
    font-size: 1.3rem;
  }

  footer h1 {
    margin: 1rem 0 0.5rem 80%;
    width: 100%;
    font-size: 1.8rem;
  }
  footer h2 {
    margin: 0 0 0.2rem 80%;
    font-size: 1rem;
    width: 100%;
  }
}
